{% paginate craft.entries.section('product').limit(6) as pageInfo, pageEntries %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Overview</title>
    {% do craft.app.view.registerCssFile('@web/css/overzichtstyles.css') %}
</head>
<body>
<section>

    <div class="introductie">
        <h1 class="titeloverzicht">Timecraft</h1>
        <p class="omschrijvingoverzicht">Experience the art of innovation and craftsmanship in every watch we create. Our timepieces are meticulously handcrafted, fusing cutting-edge technology with timeless design. Each watch is a testament to dedication and expertise, reflecting sophistication and individuality.</p>
    </div>

{#    <div class="filters">#}
{#        <button class="button" @click="">Gen 1</button>#}
{#        <button class="button" @click="">Seasonal</button>#}
{#        <button class="button" @click="">New</button>#}
{#    </div>#}
    <div class="filters">
        <label class="filter-label">
            <input type="checkbox" id="gen1" name="gen1" class="filter-checkbox"> Gen 1
        </label>
        <label class="filter-label">
            <input type="checkbox" id="seasonal" name="seasonal" class="filter-checkbox"> Seasonal
        </label>
        <label class="filter-label">
            <input type="checkbox" id="new" name="new" class="filter-checkbox"> New
        </label>
        <button class="button" type="submit">Filter</button>
    </div>
    <div class="wrapper">
        {% for product in pageEntries %}
            {% set image = product.productimage.one() %}
            <div class="single-card">
                <div class="img-area">
                    <img src="{{ image.url }}" alt="{{ product.title }}">
                    <div class="overlay">
                        <button class="view-details">View details</button>
                    </div>
                </div>
                <div class="info">
                    <h3>{{ product.title }}</h3>
                    <p class="price">${{ product.productpricetag }}</p>
                    {% set words = product.productdescription|split(' ') %}
                    {% set truncatedDescription = words|length > 10 ? words|slice(0, 10)|join(' ') ~ '...' : product.productdescription %}
                    <p class="description">{{ truncatedDescription }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="pagination">
        {% for i in 1..pageInfo.totalPages %}
            <button onclick="location.href='{{ pageInfo.getPageUrl(i) }}'" class="button{% if pageInfo.currentPage == i %} active{% endif %}">
                {{ i }}
            </button>
        {% endfor %}
    </div>
</section>
</body>
</html>

