{% do craft.app.view.registerCssFile('@web/css/overzichtstyles.css') %}

{% set filterQuery = craft.app.request.getParam('filtergeneration1') %}
{% set relationParam = ['and'] %}

{% if filterQuery %}
    {% for filtergeneration1Id in filterQuery %}
        {% set relationParam = relationParam|merge([{ targetElement: filtergeneration1Id }]) %}
    {% endfor %}
{% endif %}

{% set entries = craft.entries.section('product') %}

{% if relationParam|length > 1 %}
    {% set entries = entries.relatedTo(relationParam) %}
{% endif %}

{% paginate entries.limit(6) as pageInfo, pageEntries %}

<body>
<section>
    <div class="introductie">
        <h1 class="titeloverzicht">{{ allProducts.introtitle }}</h1>
        <p class="omschrijvingoverzicht">{{ allProducts.descriptionintrotitle }}</p>
    </div>
    <form method="get">
        <div class="filters">
            {% for filtergeneration1 in craft.entries.section('filtergeneration1') %}
                <div class="filter-item">
                    <input type="checkbox" id="{{ filtergeneration1.id }}" value="{{ filtergeneration1.id }}" name="filtergeneration1[]" {% if filterQuery and filtergeneration1.id in filterQuery %} checked {% endif %} class="filter-checkbox">
                    <label for="{{ filtergeneration1.id }}" class="filter-label">{{ filtergeneration1.title }}</label>
                </div>
            {% endfor %}
            <button class="button" type="submit">Filter</button>
        </div>
    </form>

    <div class="wrapper">
        {% for product in pageEntries %}
            {% set image = product.productimage.one() %}
            <div class="single-card">
                <div class="img-area">
                    <img src="{{ image.url }}" alt="{{ product.title }}">
                    <div class="overlay">
                        <a href="{{ url('products/' ~ product.slug) }}" class="view-details">View details</a>
                    </div>
                </div>
                <div class="info">
                    <h3>{{ product.title }}</h3>
                    <p class="price">${{ product.productpricetag }}</p>
                    {% set words = product.productdescription|split(' ') %}
                    {% set truncatedDescription = words|length > 10 ? words|slice(0, 10)|join(' ') ~ '...' : product.productdescription %}
                    <p class="description">{{ truncatedDescription }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="pagination">
        {% for i in 1..pageInfo.totalPages %}
            <button onclick="location.href='{{ pageInfo.getPageUrl(i) }}'" class="button{% if pageInfo.currentPage == i %} active{% endif %}">
                {{ i }}
            </button>
        {% endfor %}
    </div>
</section>
</body>
