{% set products = craft.entries.section('product').orderBy("RAND()").limit(3).all() %}
<html lang="en">
{% do craft.app.view.registerCssFile('@web/css/styles.css') %}
<body>
<section>
    <div class="wrapper">
        {% for product in products %}
            {% set image = product.productimage.one() %}
            <div class="single-card">
                <div class="img-area">
                    <img src="{{ image.url }}" alt="{{ product.title }}">
                    <div class="overlay">
                        <a href="{{ url('products/' ~ product.slug) }}" class="view-details">View details</a>
                    </div>
                </div>
                <div class="info">
                    <h3>{{ product.title }}</h3>
                    <p class="price">${{ product.productpricetag }}</p>
                    {% set words = product.productdescription|split(' ') %}
                    {% set truncatedDescription = words|length > 10 ? words|slice(0, 10)|join(' ') ~ '...' : product.productdescription %}
                    <p class="description">{{ truncatedDescription }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
</body>
</html>
