{% set products = craft.entries.section('product').orderBy("RAND()").limit(3).all() %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producten</title>
    {% do craft.app.view.registerCssFile('@web/css/styles.css') %}
</head>
<body>
<section>
    <div class="wrapper">
        {% for product in products %}
            {% set image = product.productimage.one() %}
            <div class="single-card">
                <div class="img-area">
                    <img src="{{ image.url }}" alt="{{ product.title }}">
                    <div class="overlay">
                        <button class="view-details">View details</button>
                    </div>
                </div>
                <div class="info">
                    <h3>{{ product.title }}</h3>
                    <p class="price">{{ product.productpricetag }}</p>
                    <p class="description">{{ product.productdescription }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
</body>
</html>
