
{% do craft.app.view.registerCssFile('@web/css/textmanager.css') %}

<div class="title-container">
    <h1> {{ block.titlefield }} </h1>
</div>
<div class="positioning">
    <div class="wrapper">
        {% if block.positioningimage.one().title == "Left" %}
            <div class="imageposition">
                <img src=" {{ block.imagefield1.one().url() }}" alt="">
            </div>
            <div class="textposition">
                <p> {{ block.textfield1 }} </p>
            </div>
        {% else %}
            <div class="textposition">
                <p> {{ block.textfield1 }} </p>
            </div>
            <div class="imageposition">
                <img src=" {{ block.imagefield1.one().url() }}" alt="">
            </div>
        {% endif %}
    </div>
</div>

